body{
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;/*Set standard fonts for the display*/
    padding:0px 0px 0px 0px;/*Del the standard Padding and Margin*/
    margin:0px 0px 0px 0px;
    background-color: #ffffff;/*set background color to white*/
}
.leftHeading{
    margin:0em 0em 0em 1em;/*a left gap for the left side of the heading*/
    color: #dfca00;/*a yellow heading*/
}
.btn{
    width:10em;/*standardize the button width and button height*/
    height:2.5em;
    margin:10px;/*set a gap between different btn*/
}
.container{
    margin:1em 10% 1em 10%;/*a outside margin for the container*/
}/*save a left and right gap*/
.displayArea{
    width:75%;/*the width of the left area*/
    float: left;/*make all the element inline*/
    display: inline-block;
    background-color: #000000;/*black ground in the requirement*/
    padding:1em 1em 1em 1em;
}
.lightBulbArea{
    margin:50px auto;
}
.visibleLightBulb{/*visible light bulb style*/
    width:16%;
}
.invisibleLightBulb{/*invisible light bulb style*/
    width:15.5%;
    display: none;
}
.rightInfoArea{/*the width of the right side*/
    width:20%;
    float: left;
    display: inline-block;
    background-color: #ffffff;
}
.rightHeading{
    color: #df4547;
    margin: 0px;
}
.informationArea{/*different background for different function area*/
    padding:15px;
    background-color: #7cc952;
}
.controlArea{/*different background for different function area*/
    padding:15px;
    background-color: #54b6dc;
}
.extraPointArea{/*different background for different function area*/
    padding:15px;
}