.container{
    padding:50px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    width: 100%;
}
.btn-length{
    width: 100px;
    margin: 5px;
    color: #000000;
}
.eqright{
    vertical-align: middle;
    text-align: right;
}
.equa{
    color: gray;
}
.screen{
    border-style: none;
    width: 100%;
    font-size: 30px;
    border-bottom-color: #000000;
    border-bottom: 1px solid;
    padding:0px 30px 0px 30px;
}
.subscreen{
    border-style: none;
    width: 100%;
    font-size: 21px;
    border-bottom-color: #000000;
    border-bottom: 1px solid;
    padding:0px 30px 0px 30px;
}
.middle{
    width:500px;
    height:600px;
    box-shadow: 0px 0px 15px #595959;
    margin: auto;
}
.number-btn{
    padding-top: 20px;
}
.function-btn{
}
.btn{
    background-image: -webkit-linear-gradient(top,#d6d6d6,#d0d0d0);
}
.copyright{
    margin-top: 50px;
    text-align: center;
    color: #595959;
}