.btn-l{
    width: 100px;
    margin: 5px 0 5px 0;
}
.eqright{
    vertical-align: middle;
    text-align: right;
}
.middle{
    margin-top: 50px;
    vertical-align:middle;
    position:relative;
}
.equa{
    color: gray;
}

/*
.display {
    display: table-cell;
    overflow: hidden;
    padding-right: 2%;
    vertical-align: middle;
    width: 95%;
}

.display {
    border-radius: 1.1px;
    background-color: none;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    color: #333;
}*/
