.container{
	width: 700px;
	margin: 0 auto;
}
.joinbox{
	border: 1px solid 
}

.joinboxtitle{
	text-align: center;

}

.left{
    float: left;
    margin: 0px 20px 0px 20px;
}

.right{
    float: right;
    margin: 0px 20px 0px 20px;
}

.currentskill{

}

.cityexpect{

}

.postion{

}

.postionleft{
    float: left;
}

.postionright{
    float: left;
    padding: 0px 0px 0px 15px;
}

.upload{
	overflow: hidden;
	clear: both;
}

.btn{
	clear: both;
	text-align: center;
	padding: 10px;
}