.container{
    padding-left: 25%;
    padding-right: 25%;
}
.joinbox{

}

.left{
    float: left;
    margin: 0px 20px 0px 20px;
}

.right{
    float: right;
    margin: 0px 20px 0px 20px;
}

.currentskill{

}

.cityexpect{

}

.postion{

}

.postionleft{
    float: left;
}

.postionright{
    float: left;
}